SetEnvIf HTTP_HOST testsite.local APPLICATION_ENV=development
<IfDefine !APPLICATION_ENV>
  Allow from all
  AuthType Basic
  AuthName "Log Access - Login"
  AuthUserFile C:\wamp64\www\log_access\.htpasswd
  require valid-user
</IfDefine>