SetEnvIf HTTP_HOST testsite.local APPLICATION_ENV=development
<IfDefine !APPLICATION_ENV>
  Allow from all
  AuthType Basic
  AuthName "Log Access - Login"
  AuthUserFile C:\xampp\htdocs\logvv_demo\.htpasswd
  require valid-user
</IfDefine>